.campaign {
  grid-column: 2;
  align-self: center;
  background-color: var(--colorSecondary);
}

.campaign_content {
  padding: var(--paddingMedium);
  display: flex;
  justify-content: flex-start;
}

.campaign_image {
  margin-right: var(--paddingBig);
}

.campaign_information {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.campaign_button {
  background-color: var(--colorWhite);
  border: .5px solid var(--colorText);
  box-sizing: border-box;
  box-shadow: 0 3px 0 var(--colorText);
  width: fit-content;
  padding-top: var(--paddingLittle);
  padding-bottom: var(--paddingLittle);
  padding-right: var(--paddingBigger);
  padding-left: var(--paddingBigger);
  font-weight: var(--fontWeightBold);
  text-decoration: none;
  color: var(--colorText);
}

.arrow_icon {
  display: inline-block;
  vertical-align: middle;
}

.arrow_icon::after {
  display: inline-block;
  content: '';
  width: 18px;
  height: 15px;
  background: url('/assets/img/icons/arrow.svg') no-repeat;
  margin: 5px 0 0 5px;
}

.arrow_moveout {
  transform: perspective(1px) translateZ(0);
  transition-duration: .1s;
}

.arrow_moveout .arrow_icon {
  transform: translateZ(0);
  transition-duration: .1s;
  transition-property: transform;
  transition-timing-function: ease-out;
}

.arrow_moveout:hover .arrow_icon {
  transform: translateX(6px);
}
