.campaign {
  grid-column: 2;
  align-self: center;
  background-color: var(--colorSecondary);
}

.campaign_content {
  padding: var(--paddingMedium);
  display: flex;
  justify-content: flex-start;

  @media (--screen-under-786) {
    flex-direction: column;
    padding: .2rem 1rem;
  }
}

.campaign_image {
  margin-right: var(--paddingBig);

  @media (--screen-under-320) {
    display: none;
  }
}

.campaign_information {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  @media (--screen-under-786) {
    width: 100vw;
    padding-right: 1rem;
  }

  @media (--screen-under-320) {
    align-items: center;
  }

}

.campaign_par p {
  @media (--screen-under-320) {
    display: none;
  }
}

.campaign_information h2 {
  @media (--screen-under-320) {
    font-size: var(--fontSizeRegular);
    text-align: center;
  }

  @media (--screen-under-786) {
    line-height: 150%;
  }
}

.campaign_button {
  background-color: var(--colorWhite);
  border: 1px solid var(--colorText);
  box-sizing: border-box;
  box-shadow: 0 3px 0 var(--colorText);
  width: fit-content;
  padding-top: var(--paddingLittle);
  padding-bottom: var(--paddingLittle);
  padding-right: var(--paddingBigger);
  padding-left: var(--paddingBigger);
  font-weight: var(--fontWeightBold);
  text-decoration: none;
  color: var(--colorText);

  @media (--screen-under-320) {
    background-color: transparent;
    border: none;
    box-shadow: none;
  }
}

.arrow_icon {
  display: inline-block;
  vertical-align: middle;
}

.arrow_icon::after {
  display: inline-block;
  content: '';
  width: 18px;
  height: 15px;
  background: url(../../assets/img/icons/arrow.svg) no-repeat;
  margin: 5px 0 0 5px;
}

.arrow_moveout {
  transform: perspective(1px) translateZ(0);
  transition-duration: .1s;
}

.arrow_moveout .arrow_icon {
  transform: translateZ(0);
  transition-duration: .1s;
  transition-property: transform;
  transition-timing-function: ease-out;
}

.arrow_moveout:hover .arrow_icon {
  transform: translateX(6px);
}
