.webshop_cart {
  margin-top: var(--paddingBigger);
}

.webshop_cart .title_red:hover {
  text-decoration: underline;
}

.cart_navigation {
  display: flex;
  margin-bottom: var(--paddingBig);
}

.process_active {
  color: var(--colorRed);
}

.process_title {
  color: var(--colorDarkGray);
  text-transform: var(--textUppercase);
}

.basket_total {
  grid-column: 4;
  place-self: center end;
  font-weight: var(--fontWeightBold);
}

.process_title--first {
  color: var(--colorDarkGray);
  text-transform: var(--textUppercase);
}

.process_title::before {
  content: url(../../assets/img/icons/arrows_crumb.svg);
  padding-right: .6rem;
  padding-left: .6rem;
}

.basket_grid {
  display: grid;
  grid-template-columns: 6.25rem 1fr 6.25rem 6.25rem 6.25rem 6.25rem;
  grid-template-rows: 1fr .3rem 150px .3rem;
}

.basket_line {
  grid-column-start: span 6;
}

.basket_line2 {
  grid-column-start: span 6;
}

.basket_heading--first {
  font-weight: var(--fontWeightBold);
  place-self: center start;
  grid-column: span 2;
}

.basket_heading {
  font-weight: var(--fontWeightBold);
  place-self: center end;
}

.basket_img {
  place-self: center;
  width: 100px;
  height: 140px;
}

.basket_img img {
  width: 100px;
  height: 140px;
}

.basket_prd--info {
  place-self: center start;
  padding-left: var(--paddingBig);
}

.basket_prd-price, .basket_prd--qty, .basket_prd--subtot {
  place-self: center end;
}

.basket_total--price::before, .basket_prd-price::before, .basket_prd--subtot::before {
  content: '\20AC';
}

.basket_prd--delete {
  place-self: center end;
  color: var(--colorDarkGray);
  font-size: var(--fontBetween);
}

.basket_total--price {
  grid-column: 5;
  place-self: center end;
  font-weight: var(--fontWeightBold);
}

.cart_buttons {
  display: flex;
  justify-content: flex-end;
  margin-right: 6rem;
}

.cart_buttons button:focus button:active {
  appearance: none;
}

.btn-bestellen {
  background: var(--colorRed);
  box-shadow: 0 4px 0 var(--colorText);
  appearance: none;
  border: none;
  text-decoration: none;
  color: var(--colorWhite);
  width: fit-content;
  border-radius: 2px;
  font-weight: var(--fontWeightBold);
  margin-left: 1.25rem;
  padding: .6rem 1rem;
  transform: perspective(1px) translateZ(0);
  transition-duration: .1s;
}

.btn-update {
  text-decoration: none;
  background: var(--colorSecondary);
  color: var(--colorRed);
  box-shadow: 0 4px 0 var(--colorText);
  appearance: none;
  border: .5px solid var(--colorRed);
  width: fit-content;
  border-radius: 2px;
  font-weight: var(--fontWeightBold);
  padding: .6rem 1rem;
}

.cart_white::after {
  display: inline-block;
  content: '';
  width: 27px;
  height: 23px;
  background: url(../../assets/img/icons/cart_icon_white.svg) no-repeat;
  margin: 5px 0 0 5px;
}

.cart_white {
  display: inline-block;
  vertical-align: middle;
  padding-left: 3px;
}

.btn-update:hover {
  background: var(--colorRed);
  color: var(--colorWhite);
}

.btn-bestellen .cart_white {
  transform: translateZ(0);
  transition-duration: .1s;
  transition-property: transform;
  transition-timing-function: ease-out;
}

.btn-bestellen:hover .cart_white {
  transform: translateX(6px);
}

.basket_prd_title {
  font-weight: var(--fontWeightBold);
}
