.content_webshop {
  grid-column: 2;
  margin-top: var(--paddingBigger);
}

.wrapper_shop {
  display: flex;
  justify-content: space-between;
}

.products_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--paddingBigger);
  margin-bottom: var(--paddingBiggest);

  /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
}

.controls_webshop {
  margin-right: var(--paddingBig);
}
