.error_box {
  background-color: var(--colorWhite);
  border: 1px solid var(--colorRed);
  width: fit-content;
  margin: var(--paddingBig) auto;
  position: relative;
  top: 3rem;
}

.error_box p {
  padding: 0 var(--paddingBig);
  font-weight: var(--fontWeightBold);
  color: var(--colorRed);
}
