.footer ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  color: var(--colorWhite);
  font-size: var(--fontSmall);
}

.footer {
  background-color: var(--colorText);
  display: flex;
  justify-content: center;
  height: 9.4rem;
  position: absolute;
  bottom: 0;
  width: 100%;

  @media (--only-regular-screen) {
    height: 4.9rem;
  }
}

.flex_footer {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.flex li {
  margin-right: var(--paddingMedium);
}
