/* webshop footer */

.footer ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  color: var(--colorWhite);
  font-size: var(--fontSmall);

  @media (--screen-under-786) {
    font-size: var(--fontRegular);
  }
}

.footer {
  background-color: var(--colorText);
  display: flex;
  justify-content: center;
  height: 9.4rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.flex_footer {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.flex li {
  margin-right: var(--paddingMedium);
}

.footer_item {
  padding: 0 1rem;

  @media (--screen-under-786) {
    display: none;
  }
}

.footer_second_row {
  @media (--screen-under-786) {
    display: none;
  }
}

.footer_item_small_uppercase {
  display: none;

  @media (--screen-under-786) {
    display: flex;
    color: var(--colorWhite);
    text-transform: var(--textUppercase);
    justify-content: center;
  }
}

.footer_item_small {
  padding: 0 1rem;
}

/* longread footer */

.footer_longread {
  background-color: var(--colorText);
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer_longread_title {
  color: var(--colorWhite);
  font-size: var(--fontTitleSmall);
  font-weight: var(--fontWeightMedium);
  font-family: var(--fontSecondary);
  text-transform: var(--textUppercase);
  letter-spacing: .1em;
  text-align: center;
}

.footer_longread_links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: solid 2px var(--colorLightGreen);
  border-bottom: solid 2px var(--colorLightGreen);
  padding: 1rem;
  margin-bottom: 1rem;
}

.footer_longread_link {
  text-decoration: none;
  color: var(--colorWhite);
  display: inline-flex;
}

.footer_longread_link:hover {
  text-decoration: underline;
}

.arrow_white_left {
  content: url('/assets/img/icons/arrow_white_left.svg');
  padding-right: .6rem;
}

.arrow_white_up {
  content: url('/assets/img/icons/arrow_white_up.svg');
  padding-left: .6rem;
}
