.header {
  width: 100%;
  background-color: var(--colorSecondary);
  box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
  display: flex;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

.width_content {
  width: var(--largeWidth);
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
}

.cart_items {
  font-size: var(--fontBetween);
  text-decoration: none;
  color: var(--colortext);
  display: flex;

  @media (--header--only-regular-screen) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 1rem;

  }
}

.cart_items img {
  @media (--header--only-regular-screen) {
    margin-bottom: -1.5rem;
    height: 34px;
  }

}

.cart_items:hover {
  text-decoration: underline;
}

.header ul {
  list-style-type: none;
  display: contents;
  line-height: 70px;
}

.menu_item {
  text-transform: var(--textUppercase);
  font-size: var(--fontLarger);
  font-weight: var(--fontWeightBold);
  display: inline-block;
  vertical-align: middle;
  margin: 0;

  @media (--header--only-regular-screen) {
    display: none;
  }
}

.hamburger_icon {
  display: none;

  @media (--header--only-regular-screen) {
    display: inline;
    appearance: none;
    border: none;
    background-color: none;
  }
}

.header .logo_humo {
  align-self: center;

  @media (--only-small-screen) {
    width: 120px;
    height: 40px;
  }
}

.shop_link {
  text-decoration: none;
  padding-left: var(--paddingMedium);
  padding-right: var(--paddingMedium);
  color: var(--colorRed);
  background-color: white;
  display: block;
  line-height: 70px;
}

.header li:hover {
  color: var(--colorRed);
  transition: .2s ease-in-out color;
}
