.header {
  display: inline-flex;
  justify-content: space-evenly;
}

.header ul {
  display: flex;
  list-style-type: none;
}

.header li {
  padding-left: 1rem;
}

.header img {
  align-self: center;
}
