.header {
  width: 100%;
  background-color: var(--colorSecondary);
  box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 2;
}

.width_content {
  width: var(--largeWidth);
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
}

.cart_items {
  font-size: var(--fontBetween);
  text-decoration: none;
  color: var(--colortext);
  display: flex;

  @media (--header--only-regular-screen) {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 1rem;
  }
}

.cart_items img {
  @media (--header--only-regular-screen) {
    margin-bottom: -1.5rem;
    height: 34px;
  }

}

.cart_items:hover {
  text-decoration: underline;
}

.header ul {
  list-style-type: none;
  display: contents;
  line-height: 70px;
}

.menu_item {
  text-transform: var(--textUppercase);
  font-size: var(--fontLarger);
  font-weight: var(--fontWeightBold);
  display: inline-block;
  vertical-align: middle;
  margin: 0;

  /* @media (--header--only-regular-screen) {
    display: none;
  } */
}

.hamburger_icon {
  display: none;

  /* @media (--header--only-regular-screen) {
    display: inline;
    appearance: none;
    border: none;
    background-color: none;
  } */
}

.header .logo_humo {
  align-self: center;

  @media (--only-small-screen) {
    width: 120px;
    height: 40px;
  }
}

.shop_link {
  text-decoration: none;
  padding-left: var(--paddingMedium);
  padding-right: var(--paddingMedium);
  color: var(--colorRed);
  background-color: white;
  display: block;
  line-height: 70px;
}

.header li:hover {
  color: var(--colorRed);
  transition: .2s ease-in-out color;
}

/* header longread */

.longread_menu li {
  list-style: none;
  background-color: var(--colorWhite);
  border: 2px solid var(--colorLightGreen);
  padding: 1rem 2rem;
  margin: 1rem;
  text-align: center;
  text-transform: var(--textUppercase);
}

.longread_menu li:hover {
  list-style: none;
  background-color: var(--colorLightGreen);
}

.longread_menu li:active {
  list-style: none;
  background-color: var(--colorOrange);
}

.longread_menu {
  background-color: var(--colorWhite);
  /* height: 100vh; */
  display: none;
  height: 0;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.longread_menu a {
  text-decoration: none;
  color: var(--colorText);
}

.longread_menu ul {
  margin-top: -9rem;
  padding: 0;
}

.longread_menu_wrapper {
  display: flex;
  flex-direction: column;
}

.longread_menu_bottom {
  background-color: var(--colorText);
  bottom: 0;
  margin: 0 auto;
  text-align: center;
  position: fixed;
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: perspective(1px) translateZ(0);
  transition-duration: .1s;
}

.longread_menu_bottom a {
  color: var(--colorWhite);
  text-decoration: none;
  font-size: var(--fontMedium);
}

.arrow_white_right {
  display: inline-block;
  vertical-align: middle;
}

.arrow_white_right::after {
  content: url(/assets/img/icons/arrow_white_right.svg);
  width: 25px;
  height: 20px;
  margin: 1rem;
}

.longread_menu_bottom .arrow_white_right {
  transform: translateZ(0);
  transition-duration: .1s;
  transition-property: transform;
  transition-timing-function: ease-out;
}

.longread_menu_bottom:hover .arrow_white_right {
  transform: translateX(-6px);
}

.menu_side {
  margin-top: -6rem;
}

.header_longread {
  position: fixed;
  top: 0;
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  z-index: 3;

  @media (--screen-under-320) {
    text-align: right;
  }
}

.header_bkg {
  background-color: var(--colorText);
  width: 100vw;
  box-shadow: 0 4px 5px rgba(29, 220, 71, .5);
}

.hamburgerbar {
  width: 40px;
  height: 7.6px;
  background-color: var(--colorWhite);
  margin: 6px 0;
}

.hamburger_longread {
  left: 1rem;
  top: 1rem;
  position: absolute;
}
