.longread_personages {
  margin-top: 10rem;
  margin-bottom: 6.25rem;

  @media (--screen-under-786) {
    margin-top: 5rem;
    margin-bottom: 2rem;
  }

  @media (--screen-under-320) {
    margin-top: 2rem;
    margin-bottom: 0;
  }
}

.personages_flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 6rem;

  @media (--screen-under-320) {
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: flex-start;
    margin-top: 0;
  }
}

.personage {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--paddingBigger);
  flex: 0 0 auto;
}

.scroll_text {
  display: none;

  @media (--screen-under-320) {
    display: block;
    text-align: center;
    margin-top: 5rem;
    color: var(--colorOrange);
  }
}

.name_personage {
  font-weight: var(--fontWeightBold);
  font-family: var(--fontSecondary);
  letter-spacing: .1em;
  margin-bottom: 0;
}

.personage_border {
  margin-top: var(--paddingLittle);
  width: 13.75rem;
  height: 23.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.side_personages {
  margin-top: 8rem;
}
