.longread_recensies {
  margin-top: 10rem;
  margin-bottom: 6.25rem;
  background-color: var(--colorDarkGreen);

  @media (--screen-under-786) {
    margin-top: 5rem;
    margin-bottom: 2rem;
  }

  @media (--screen-under-320) {
    margin-top: 2rem;
    margin-bottom: 0;
  }
}

.container_recensies {
  margin-bottom: 6rem;
  margin-top: 6rem;
  width: 100vw;
  max-width: 33.75rem;

  @media (--screen-under-786) {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  @media (--screen-under-320) {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}

.container_recensies p {
  text-align: center;
  color: var(--colorWhite);
  padding-bottom: var(--paddingBigger);

  @media (--screen-under-320) {
    padding-bottom: 1rem;
  }
}

.container_recensies img {
  margin: auto;
  display: flex;
  padding-bottom: var(--paddingBigger);

  @media (--screen-under-320) {
    padding-bottom: 1rem;
  }
}

.recensies_text {
  margin-top: 6.5rem;

  @media (--screen-under-320) {
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: .6rem;
  }
}

.side_recensies {
  margin-top: 16rem;
}
