.themas_content {
  margin-top: 6.5rem;

  @media (--screen-under-786) {
    margin-top: 5rem;
    margin-bottom: 2rem;
  }

  @media (--screen-under-320) {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.thema_wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-top: 1rem;
  margin-left: .6rem;
}

.thema {
  display: flex;
  position: relative;
  text-align: center;
  color: white;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.thema a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
