.order_information--title {
  font-size: var(--fontLarger);
  font-family: var(--font);
  font-weight: var(--fontWeightBold);
  color: var(--colorRed);
  margin-bottom: 0;
}

.order_checkbox input {
  appearance: none;
  margin-right: .6rem;
  width: 1.06rem;
  height: 1.06rem;
  border: solid 1px var(--colorDarkGray);
  background-color: white;
}

input:focus {
  outline: 2px blue thin dotted;
}

.form_part input {
  padding: 1rem .5rem;
  background-color: var(--colorWhite);
  border: solid 1px var(--colorDarkGray);
  width: -webkit-fill-available;
}

.form_part {
  margin-top: 1.6rem;
}

.form_information {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1.5rem;
  margin-top: 1.6rem;

  @media (max-width: 425px) {
    grid-template-columns: 1fr;
  }
}

.order_information_part {
  margin-bottom: var(--paddingBigger);
}

.order_information--buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 425px) {
    flex-direction: column;
    justify-content: center;
  }
}

.button_back {
  text-decoration: none;
  font-weight: var(--fontWeightBold);
  color: var(--colorRed);
  background: transparent;
  border: none;

  @media (max-width: 425px) {
    margin-bottom: 1rem;
  }
}

.button_back:hover {
  text-decoration: underline;
}

.button_onward {
  background: var(--colorRed);
  box-shadow: 0 4px 0 var(--colorText);
  text-decoration: none;
  color: var(--colorWhite);
  width: fit-content;
  border-radius: 2px;
  font-weight: var(--fontWeightBold);
  padding: .6rem 1rem;
  border: none;
}

/* .form_information input:valid {
  padding-right: 2rem;
  border: solid 2px #008a2f;
  width: -webkit-fill-available;
  background: url(../../assets/img/correct.svg) no-repeat;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 346px 20px;
} */

/* .form_information input:invalid {
  padding-right: 2rem;
  border: solid 2px #bd1515;
  width: -webkit-fill-available;
  background: url(../../assets/img/fault.svg) no-repeat;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 346px 20px;
} */

.floating_wrapper {
  position: relative;
}

.floating_wrapper label {
  position: absolute;
  top: -22px;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: .2s;
  padding-bottom: 2px;
  padding-left: 7px;
  font-size: 14px;
}

.floating_wrapper input:focus + label {
  top: 33px;
  font-size: 12px;
  color: darkgrey;
}
