.overview_containter {
  border-left: solid 3px var(--colorSecondary);
}

.order_overview {
  display: grid;
  width: 31.25rem;
  border: solid 2px var(--colorSecondary);
  margin-top: var(--paddingBigger);
  margin-left: var(--paddingBigger);
}

.overview_header {
  background-color: var(--colorSecondary);
  grid-column: span 4;
  grid-row: 1;
  display: flex;
  justify-content: space-between;
  font-weight: var(--fontWeightBold);
  padding-right: var(--paddingSmall);
  padding-left: var(--paddingSmall);
}

.overview_header--text {
  place-self: center;
}

.overview_heading {
  padding-right: var(--paddingSmall);
  padding-left: var(--paddingSmall);
  padding-top: var(--paddingSmall);
  margin: 0;
  color: var(--colorDarkGray);
  font-size: var(--fontSmall);
}

.overview_name {
  background-color: none;
  place-self: center start;
}

.overview_qty, .overview_price, .overview_subt {
  place-self: center end;
}

.overview_namevalue {
  place-self: center start;
  padding-right: var(--paddingSmall);
  padding-left: var(--paddingSmall);
}

.overview_qtyvalue, .overview_pricevalue, .overview_subtvalue {
  place-self: center end;
  padding-right: var(--paddingSmall);
  padding-left: var(--paddingSmall);
}

.overview_totprice::before, .overview_pricevalue::before, .overview_subtvalue::before {
  content: '\20AC';
}

.overview_border_top {
  border-top: solid 2px var(--colorSecondary);
  grid-column: span 4;
}
