.product_content {
  display: flex;
  flex-direction: row;
  background-color: var(--colorSecondary);
  padding: var(--paddingBig);
  margin-bottom: var(--paddingBig);

  @media (--screen-under-786) {
    flex-direction: column;
  }
}

.productpage_crumbs {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  color: var(--colorDarkGray);
  text-transform: var(--textUppercase);
  font-size: var(--fontSmall);
  font-weight: var(--fontWeightBold);
  padding: 0;
}

.towebshop {
  @media (--screen-under-786) {
    margin-left: 2rem;
  }
}

.productpage_crumbs li::before {
  content: url(../../assets/img/icons/arrows_crumb.svg);
  padding-right: var(--paddingLittle);
  padding-left: var(--paddingLittle);
}

.productpage_crumbs li:first-child::before {
  content: '';
  padding-left: 0;
}

.detail_product--title {
  font-size: var(--fontLarger);
  font-weight: var(--fontWeightBold);
  margin: 0;
}

.detail_product--price {
  font-size: var(--fontMedium);
  font-weight: var(--fontWeightBold);
  color: var(--colorRed);
  margin: 0;
}

.product_image--productpage {
  margin-right: var(--paddingBig);
  display: flex;
  align-items: center;
}

.detail_product--categorie {
  color: var(--colorRed);
  text-transform: var(--textUppercase);
  font-weight: var(--fontWeightBold);
  font-size: var(--fontBetween);
}

input[type=number] {
  width: 2.5rem;
  height: 2.4rem;
  border: solid 1px var(--colorLightGray);
  text-align: center;

  @media (--screen-under-320) {
    width: 16.3rem;
    height: 2.4rem;
    margin-bottom: .6rem;
  }
}

.cart_white::after {
  display: inline-block;
  content: '';
  width: 1.69rem;
  height: 1.44rem;
  background: url(../../assets/img/icons/cart_icon_white.svg) no-repeat;
  margin: 5px 0 0 5px;
}

.cart_white {
  display: inline-block;
  vertical-align: middle;
  padding-left: 3px;
}

.btn_red {
  background: var(--colorRed);
  color: var(--colorWhite);
  box-shadow: 0 4px 0 var(--colorText);
  appearance: none;
  border: none;
  padding-top: .25rem;
  padding-right: 1rem;
  font-weight: var(--fontWeightBold);
  transform: perspective(1px) translateZ(0);
  transition-duration: .1s;
}

.btn_red .cart_white {
  transform: translateZ(0);
  transition-duration: .1s;
  transition-property: transform;
  transition-timing-function: ease-out;
}

.btn_red:hover .cart_white {
  transform: translateX(6px);
}

.boek_text--bolder {
  font-weight: var(--fontWeightBold);
}

.button_bookpage {
  background-color: var(--colorWhite);
  border: .5px solid var(--colorText);
  box-sizing: border-box;
  box-shadow: 0 3px 0 var(--colorText);
  width: fit-content;
  padding-top: var(--paddingLittle);
  padding-bottom: var(--paddingLittle);
  padding-right: var(--paddingBigger);
  padding-left: var(--paddingBigger);
  font-weight: var(--fontWeightBold);
  text-decoration: none;
  color: var(--colorText);
}

.detail_product_part {
  margin-bottom: var(--paddingSmall);
}

.product_buy {
  margin-bottom: var(--paddingBigger);
}

.otherproduct_list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.otherproduct_list .product {
  width: 230px;
  margin-left: 2rem;
  margin-right: 1rem;

  @media (--screen-under-320) {
    padding-left: 1rem;
    padding-right: 3rem;
  }
}

.otherproducts h2 {
  margin-bottom: var(--paddingBigger);
}

select {
  border: solid red 2px;
  padding: .5rem;
  background-color: white;
  width: fit-content;
  margin: .6rem 0;
}

.detail_product_buy {
  margin-top: var(--paddingSmall);
}
