.product {
  display: grid;

  /* width: 230px; */
}

.product_image {
  width: 230px;
  height: 240px;
  display: grid;
  justify-content: flex-start;
  align-items: end;
  background-color: var(--colorWhite);
  transition-duration: .3s;
  transition-property: transform;
}

.product_image:hover {
  transform: scale(1.1);
}

.product_information form {
  display: flex;
  flex-direction: column;
}

.product_variant_add {
  display: flex;
  flex-direction: column;
}

.product_information--text {
  margin-right: .8rem;
  display: grid;
}

.product_information--text form {
  display: grid;
  grid-gap: 1rem;
}

.product_information--text select {
  margin-top: var(--paddingMedium);
}

.categorie {
  color: var(--colorRed);
  text-transform: uppercase;
  font-weight: var(--fontWeightBold);
  font-size: var(--fontSmall);
}

.product_title {
  text-decoration: none;
  font-size: var(--fontMedium);
  color: var(--colorText);
  font-weight: var(--fontWeightBold);
}

.price {
  color: var(--colorText);
  font-weight: var(--fontWeightBold);
}

.variant_name {
  font-weight: var(--fontWeightBold);
  font-size: var(--fontBetween);
}

.price::before {
  content: '\20AC';
}

.bekijk {
  font-size: var(--fontBetween);
  color: var(--colorText);
  font-weight: var(--fontWeightBold);
  text-decoration: none;
}

.bekijk::after {
  display: inline-block;
  content: '';
  width: 13px;
  height: 11px;
  background: url(/assets/img/icons/arrow_small.svg) no-repeat;
  margin: 5px 0 0 5px;
}

.bekijk:hover {
  text-decoration: underline;
}

.btn-add {
  appearance: none;
  padding: .6rem;
  background-color: var(--colorRed);
  box-shadow: 0 4px 0 var(--colorText);
  border-radius: 2px;
  border: none;
  color: var(--colorWhite);
  font-weight: var(--fontWeightBold);
}

.plus_icon {
  padding-left: .6rem;
  font-size: var(--fontMedium);
  /* transition-duration: 1s;
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transform: rotate(360deg);
  transform: perspective(1px) translateZ(0); */
}

/* .btn-add:hover .plus_icon {
  transition-duration: 1s;
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transform: rotate(360deg);
} */

.btn-add:focus .btn-add:active {
  appearance: none;
}
