
html {
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
}

/* stylelint-disable */
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* stylelint-enable */

body {
  font-size: var(--fontRegular);
  background-color: var(--colorLightest);
  color: var(--colorText);
  max-width: 100%;
  overflow-x: hidden;
}

main {
  margin-top: 6rem;
}
