.layout {
  margin: 0 auto;
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 9.4rem;
}

.grid_index {
  display: grid;
  margin: auto;
  max-width: 1024px;
  grid-template-rows: auto;
  margin-top: var(--paddingBigger);

  @media (--only-medium-screen) {
    margin-top: var(--paddingBigger);
  }

  @media (--only-regular-screen) {
    margin-top: var(--paddingBig);
  }

  @media (--only-small-screen) {
    margin-top: var(--paddingLarger);
  }
}

.grid_detail {
  display: grid;
  grid-template-columns: 1076px;
  justify-content: center;
  margin-top: var(--paddingBigger);
  margin-bottom: var(--paddingBiggest);
}

.grid_cart {
  display: grid;
  justify-content: center;
  margin: 0 auto;
  grid-template-columns: 1076px;
  margin-top: var(--paddingBigger);
  margin-bottom: var(--paddingBiggest);
}

.flex_order {
  display: flex;
  justify-content: center;
}

.grid_order {
  grid-template-columns: 1076px;
  margin-right: var(--paddingBigger);
  margin-top: var(--paddingBigger);
  margin-bottom: var(--paddingBiggest);
}

.order_betalen {
  width: 640px;
}
