.layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px 1fr 150px;
  height: 100vh;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1076px 1fr;
  grid-template-rows: 124px 312px 1fr;
}
