.layout {
  margin: 0 auto;
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 9.4rem;
}

.grid_index {
  display: grid;
  margin: auto;
  max-width: 64rem;
  grid-template-rows: auto;
  margin-top: var(--paddingBigger);

  @media (--only-medium-screen) {
    margin-top: var(--paddingBigger);
  }

  @media (--only-regular-screen) {
    margin-top: var(--paddingBig);
  }

  @media (--only-small-screen) {
    margin-top: var(--paddingLarger);
  }
}

.grid_detail {
  display: grid;
  grid-template-columns: 67.25rem;
  justify-content: center;
  margin-top: var(--paddingBigger);
  margin-bottom: var(--paddingBiggest);
}

.grid_cart {
  display: grid;
  justify-content: center;
  margin: 0 auto;
  grid-template-columns: 67.25rem;
  margin-top: var(--paddingBigger);
  margin-bottom: var(--paddingBiggest);
}

.flex_order {
  display: flex;
  justify-content: center;
}

.grid_order {
  grid-template-columns: 67.25rem;
  margin-right: var(--paddingBigger);
  margin-top: var(--paddingBigger);
  margin-bottom: var(--paddingBiggest);
}

.order_betalen {
  width: 40rem;
}

.lr_section {
  display: grid;
  align-items: center;
}

.text_side {
  right: 0;
  position: absolute;

  @media (--screen-under-786) {
    display: none;
  }
}

.container_longread {
  max-width: 68.13rem;
  margin: auto;
  width: 100vw;

  @media (--only-medium-screen) {
    max-width: 42.8rem;
  }
}
