body {
  font-size: var(--fontRegular);
  font-family: var(--font);
  font-weight: var(--fontWeightRegular);
  line-height: 150%;
}

h1 {
  font-size: var(--fontBig);
  font-family: var(--font);
  font-weight: var(--fontWeightBold);
  color: var(--colorWhite);
  background-color: var(--colorRed);
  width: fit-content;
  padding: var(--paddingLittle);
  text-transform: var(--textUppercase);
}

h2 {
  font-size: var(--fontLarger);
  font-family: var(--font);
  font-weight: var(--fontWeightBold);
}
