body {
  font-size: var(--fontRegular);
  font-family: var(--font);
  font-weight: var(--fontWeightRegular);
  line-height: 150%;

  @media (--screen-under-786) {
    font-size: var(--fontRegularSecond);
  }

  @media (--screen-under-320) {
    font-size: var(--fontMedium);
  }
}

h1 {
  font-size: var(--fontBig);
  font-family: var(--font);
  font-weight: var(--fontWeightBold);
}

.title_red {
  text-decoration: none;
  font-size: var(--fontMedium);
  font-family: var(--font);
  font-weight: var(--fontWeightBold);
  color: var(--colorRed);
}

.title_red::before {
  display: inline-block;
  content: '';
  width: 17px;
  height: 13px;
  background: url(../assets/img/icons/arrow_red.svg) no-repeat;
  margin: 5px 0 0 5px;
  padding-right: 1.5rem;
}

.header_title {
  color: var(--colorWhite);
  background-color: var(--colorRed);
  width: fit-content;
  padding: var(--paddingLittle);
  text-transform: var(--textUppercase);

  @media (--only-small-screen) {
    margin: 0 auto;
  }
}

.txt_bold {
  font-weight: var(--fontWeightBold);
}

.text_small_gray {
  color: var(--colorDarkGray);
  font-size: var(--fontSmall);
}

.h2_lightgreen, .h2_orange, .h2_darkgreen, .h2_white {
  font-size: var(--fontTitleMedium);
  font-weight: var(--fontWeightBold);
  font-family: var(--fontSecondary);
  line-height: 120%;
  letter-spacing: .1em;
  border-bottom: 2px solid;
  padding-bottom: .6rem;
  max-width: 1280px;
  right: 0;
  position: absolute;

  /* @media (--only-medium-screen) {
    max-width: 970px;
  } */

  @media (--screen-under-786) {
    font-size: var(--fontTitleSmall);
  }

  @media (--screen-under-320) {
    font-size: var(--fontBig);
    text-align: center;
  }

}

.h2_lightgreen {
  color: var(--colorLightGreen);
}

.h2_orange {
  color: var(--colorOrange);
}

.h2_darkgreen {
  color: var(--colorDarkGreen);
}

.h2_white {
  color: var(--colorWhite);
}

.h3_green {
  color: var(--colorLightGreen);
  font-weight: var(--fontWeightMedium);
  font-family: var(--fontSecondary);
}

.h3_orange {
  color: var(--colorOrange);
  font-weight: var(--fontWeightMedium);
  font-family: var(--fontSecondary);
}
