:root {
  --colorWhite: white;
  --colorText: black;
  --colorHumoWhite: #fdfefc;
  --colorRed: #e2001a;
  --colorSecondary: #f8f8f4;
  --colorDarkGray: #504d4e;
  --colorLightGray: #e5e5e5;
  --colorYellow: #fce34e;
  --colorLightGreen: #17ac38;
  --colorDarkGreen: #145b2c;
  --colorOrange: #ff572b;
  --colorHighlight: #9cfab1;
  --paddingLittle: .63rem; /*10px*/
  --paddingSmall: .94rem; /* 15px */
  --paddingMedium: 1.25rem; /* 20px */
  --paddingLarger: 1.56rem; /* 25px */
  --paddingBig: 1.88rem; /* 30px */
  --paddingBigger: 2.5rem; /* 40px */
  --paddingBiggest: 4.8rem;/* 70px */
  --fontSmall: .75rem; /* 12px */
  --fontBetween: .88rem; /*14px */
  --fontRegular: 1rem; /* 16px */
  --fontRegularSecond: 1.06rem;/*17px*/
  --fontMedium: 1.13rem; /* 18px*/
  --fontLarger: 1.38rem; /* 22px */
  --fontBig: 1.63rem; /* 26px */
  --fontTitleSmall: 1.75rem;/*28px */
  --fontTitleMedium: 2.13rem;/*34px */
  --fontTitleBig: 2.25rem;/*36px */
  --fontTitleHuge: 2.8rem;/*45px */
  --font: 'Roboto', sans-serif;
  --fontSecondary: 'Orbitron', sans-serif;
  --textUppercase: uppercase;
  --fontWeightRegular: 400;
  --fontWeightMedium: 500;
  --fontWeightBold: 700;
  --largeWidth: 1076px;
}

/* @custom-media --only-small-screen (width <= 786px);
@custom-media --only-regular-screen (width > 786px);
@custom-media --header--only-regular-screen (width <= 1024px);
@custom-media --regular-screen-and-up (width => 1024px);
@custom-media --only-medium-screen (width <= 1280px);
@custom-media --only-large-screen (width >= 1440px); */

@custom-media --only-extra-small-screen (width <= 600px);
@custom-media --only-small-screen (width => 600px);
@custom-media --only-medium-screen (width => 786px);
@custom-media --only-medium-and-down-screen (width <= 786px);
@custom-media --only-large-screen (width => 992px);
@custom-media --only-extra-large-screen (width => 1280px);
@custom-media --screen-under-786 (width <= 786px);
@custom-media --screen-under-320 (width <= 320px);
